<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${java.io.tmpdir}/hive-sql-storage-handler.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${java.io.tmpdir}/hive-sql-storage-handler-%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="STDERR" />
	</root>
</configuration>